# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
# assets/js/dist

_posts/2019-08-08-text-and-typography.md
_posts/2019-08-08-write-a-new-post.md
