/*
 * The SCSS variables
 */

/* sidebar */

$sidebar-width: 260px !default; /* the basic width */
$sidebar-width-large: 300px !default; /* screen width: >= 1650px */
$sb-btn-gap: 0.8rem !default;
$sb-btn-gap-lg: 1rem !default;

/* other framework sizes */

$topbar-height: 3rem !default;
$search-max-width: 200px !default;
$footer-height: 5rem !default;
$footer-height-large: 6rem !default; /* screen width: < 850px */
$main-content-max-width: 1250px !default;
$base-radius: 0.625rem !default;
$back2top-size: 2.75rem !default;

/* syntax highlight */

$code-font-size: 0.85rem !default;
$code-header-height: 2.25rem !default;
$code-dot-size: 0.75rem !default;
$code-dot-gap: 0.5rem !default;
$code-icon-width: 1.75rem !default;

/* fonts */

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/Pretendard-Thin.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/Pretendard-Black.woff2') format('woff2');
}

$font-family-base: Pretendard;
$font-family-heading: Pretendard;
